#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;


}
.card {
  padding: 2em;
}
.priority-dot{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}
.priority-proceed{
  background-color: green;
}
.priority-investigate{
  background-color: blue;
}
.priority-consider{
  background-color: orange;
}
.priority-avoid{
  background-color: red;
}

label {
  display: block;
  padding: 10px;
}
textarea {
  min-height: 200px;
  width: 100%;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: #1a1a1a;
  color: white;
}
button:hover {
  background-color: blue;
}

input {
  width: 100%
}

.priority-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

}
.priority-fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-shrink: 1;
  align-items: center;
}
.priority-label {
  margin-right: 20px;
  font-weight: bold;
  color: #555;
  display: flex;
  align-items: center;
}
.priority-input {
  margin-right: 5px;
}

.task-item {
  padding: 10px;
  border: 1px solid #ccc
}