body {
    background-color: rgb(122, 20, 20);
}

div.game-window {
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(9, 138, 30);
    box-shadow: 5px 5px 10px rgb(29, 26, 26);
    width: 50%;
    height: 300px;
    margin: 50px;
    padding: 20px;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', sans-serif;
}

p {
    color:rgb(0, 0, 0);
}

#button {
    display: flex;
}