body {
    background-color: rgb(0, 0, 0);
}

div.game-window {
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(110, 5, 110);
    box-shadow: 8px 5px 5px rgb(175, 173, 173);
    width: 50%;
    height: 300px;
    margin: 50px;
    padding: 20px;
}